.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
   
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 50px;
}

.superInput {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
  
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.errorInput:focus {
    width: 372px;
    height: 36px;
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.error {
width: 25px;
height: 12px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 12px;
margin-bottom: 5px;

color: #CC1439;
}
