.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 30px;
    margin-top: 10px;
   
}

.clock {
    margin-left: 30px;
}

.watch {
    margin-left: 30px;
}

.watch strong {
    
}

.more {
    margin-left: 30px;
}