.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
   
}

.friendImageAndText {
    display: flex;
    align-items: center;
}

.friendImageAndText img {
    margin-top: 15px;
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 330px;
    height: 60px;
    border-radius: 10px 10px 10px 0px;
    margin-left: 25px;

    background: #4c5156;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    word-wrap: break-word;
}

.friendText:after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 99%;
    width: 38px;
    height: 35px;
    background: radial-gradient(71px at top left, transparent 50%, #4c5156 51%);
}

.friendName {
    width: 40px;
    height: 22px;
    margin-top: 7px;
    margin-left: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.friendMessageText {
    display: flex;
    justify-content: flex-start;
    width: 489px;
    height: 20px;
    margin-top: 4px;
    margin-left: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.friendTime {
    width: 26px;
    height: 12px;
    padding-left: 10px;
    padding-top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}