.select {
    width: 40px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    text-align: center;
}

.select:focus {
  
}


.option:hover {
 background-color: hotpink    ;
}